/* Informaçoes do HEADER */
a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

a:hover{
    text-decoration: underline;
    color: #e5e4e4;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

header{
    background-color: #000000;
}

/* Item da versãopara tablet */
header .header-categorias-tablet{
    display: none;
}
header .menu-lateral{
    display: none;
}

.cabecalho_logotipo{
    display: flex;
    align-items: center;
}

.cabecalho_logo{
    height: 110px;
}

.cabecalho_slogan{
    width: 10vw;
    text-align: center;
    color: #ffffff;

}

.cabecalho_pesquisa{
    display: flex;
}

.cabecalho_barra_de_pesquisa{
    width: 38vw;
    height: 30px;
    font-size: 16px;
    border-radius: 10px;
    position: relative;
}

.cabecalho_pesquisar{
    height: 34px;
    border-left: 2px solid #000000;
    position: absolute;
    right: 25vw;
}

.cabecalho_dados{
    display: flex;
    color: #ffffff;
}

.cabecalho_carrinho{
    height: 50px;
}

/* INFORMAÇÕES DAS CATEGORIAS */
.cabecalho-categorias{
    display: flex;
    justify-content: space-evenly;
    /* background-color: rgb(51, 51, 213); */
    background-color: #000000;
}

.cabecalho-categorias p{
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px #983b3b;
}

.cabecalho-categorias p:hover{
    color: aqua;
}

header .menu-bar {
    display: none;
}

/* INFORMAÇÕES DA MAIN */
main{
    /* background: linear-gradient(rgb(51, 51, 213), rgb(250, 250, 252) 50%); */
}

/* INFORMAÇÕES DO BANNER */
.banner{
    height: 200px;
    width: 100%;
    background: green;
}

.banner img{
    width: 100%;
    height: 200px;
    margin: 0 0 0 0;
}

/* INFORMAÇÕES DO DESTAQUE */
.destaques-chamada{
    color: #000000;
    text-align: center;
    font-size: 35px;
}

.destaques{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 50px 30px 100px;
    /* background: linear-gradient(rgb(0, 0, 0), rgb(74, 145, 226) 80%); */
}
hr{
    border: 1px solid black;
    margin: 0 0 0 0;
}


.destaques-chamada{
    color: #e5e4e4;
    text-transform: uppercase;
}

.destaques p{
    text-align: center;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
    /* text-shadow: #000000 1px 1px 0px; */
}

.destaques img{
    margin-top: 10px;
    background-color: #ffffff;
}

/* .produtos p:hover{
    text-decoration: underline;
} */

.destaques img{
    height: 150px;
    width: 150px;
}

.destaques img:hover{
    transform: scale(1.05);
    border: #463ae1 solid 1px;
}

.destaques img{
    border: #000000 solid 1px;
}

/* INFORMAÇÕES DOS PRODUTOS */
.produtos{
    background: linear-gradient(rgb(74, 145, 226), rgb(250, 250, 252) 50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 50px 30px 100px;
    margin-top: 0px;
}

.produtos p{
    text-align: center;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
    /* text-shadow: #000000 1px 1px 0px; */
}

.produtos img{
    margin-top: 10px;
}

/* .produtos p:hover{
    text-decoration: underline;
} */

.produtos img{
    height: 150px;
    width: 150px;
}

.produtos img:hover{
    transform: scale(1.05);
    border: #463ae1 solid 1px;
}

.produtos img{
    border: #000000 solid 1px;
}

/* INFORMAÇÕES DO FOOTER */
.rodape{
    display: flex;
    background-color: #000000;
    color: #ffffff;
    height: 55px;
    justify-content: space-between;
    align-items: center;
}

.rodape-logo{
    height: 50px;
}

.rodape-contato{
}

.rodape-contato li{
    text-align: center;
}

.rodapre-localizacao{

}

.rodape-localizacao li, h2{
    text-align: center
}

.rodape-duvidas{
    
}

.rodape-duvidas li{
    text-align: center
}

.rodape-politica{
    text-align: center
}

.rodape-redes-icones{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
}

.face-icone, .insta-icone, .tiktok-icone{
    height: 30px;
}

/*  */
/*  */
/* TABLETS < 992px (768px  até 991px)  */
@media screen and (max-width: 991px) {
header {
   padding: 0 20px;
}

/* navbar container flex*/
header .menu {
    position: fixed;/* fixa na viewoport */
    top: 0;
    left: -80%;/* inicialmente escondido */

    opacity: 0;/*inicialmente invisível*/
    width: 80%;
    height: 100vh;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #C31616;
    color: white;

    border-radius: 0 0 0 80px;

    transition: left 0.5s, opacity 0.6s;
}

 /* links do menu */
 header .cabecalho-categorias a {
    border-left: 3px dotted lightgray;
    width: 80%;
    font-size: 1.3rem;
    margin-bottom: 20px;
    padding: 20px;
    color: lightgrey;
}

/*hamburger */
header .menu-bar {
    display: block;
    width: 45px;
}

header .cabecalho_carrinho{
    display: none;
}

header .cabecalho_dados, .cabecalho-categorias{
    display: none;
}

a{
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
}

header .menu-lateral{
    display: flex;
    top: 0px;
    left: 0px;
    width: 60vw;
    height: 100vw;
    position: fixed;
    background-color: black;
    /* border-radius: 100px; */
}

header .links-menu-lateral{
    height: 100vw;
}


header .links-menu-lateral li{
    text-transform: uppercase;
    margin: 20px 0 20px 50px;
    /* margin: 20px 20px; */
    border-left: 2px dotted white;
    padding: 10px 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.destaques{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 50px 30px 100px;
    /* background: linear-gradient(rgb(0, 0, 0), rgb(74, 145, 226) 80%); */
}


}

/*  */
/*  */
/* TABLETS > 768px  */
@media screen and (max-width: 767px) {

}

