header {
    background-color: black;
    height: 155px;
    width: 100vw;
}


/* Configuraçãos da navegação principal */
.principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 115px;
    width: 100vw;
}


.logotipo {
    display: flex;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.logotipo p {
    width: 120px;
    text-align: center;
    text-transform: uppercase;
}

#divBusca {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border: solid 1px;
    border-radius: 10px;
    width: 40vw;
    height: 35px;
    margin-left: -50px;
}

#txtBusca {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-style: italic;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 350px;
}

#divBusca img {
    height: 40px;
}

.cliente {
    display: flex;
    align-items: center;
}

.login {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    margin-right: 15px;
}

.login a {
    color: #ffffff;
    text-decoration: none;
}

.carrinho {
    padding-right: 20px;
}

.login p {
    margin-bottom: 15px;
}

.carrinho img {
    height: 60px;
}


/* Início das categorias */
.categorias {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    width: 100vw;
    background-color: rgb(0, 0, 0);
}

.categorias a {
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: #ffffff;
    text-shadow: 1px 1px 1px black;
}

.categorias p :hover {
    color: aquamarine;
    font-size: 21px;
}

/* Banner */
.banner {
    /* background-color: orange; */
    width: 100vw;
    height: 300px;
}

.banner img {
    width: inherit;
    height: inherit;
}

/* Destaques */
/* body{
    background-image: linear-gradient(rgb(73, 73, 229) ,rgb(255, 255, 255)50%, rgb(73, 73, 229) 120% );
} */


main h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 30px 0 30px 0;
}

/* Destaques */
.container {
    max-width: 1200px;
}
.mostrar-coluna{
    border: 2px solid red;
}

.container, .container-fluid, .container-gid {
    border: 1px solid red;
}

.destaques {
    background-color: white;
}

.destaques .card{
}
.destaques .card-title{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20x;
    font-family: Arial, Helvetica, sans-serif;
}

.destaques .card-text{
    text-align: center;
    text-transform: uppercase;
    font-size: 20x;
    font-family: Arial, Helvetica, sans-serif;
}

.destaques .card .btn-buy{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    width: 100%;
    border: none;

}

/* ----------------------------------------------- */


/* GALERIA */
.galeria {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 30px 50px;
}



.galeria img {
    height: 200px;
    width: 200px;
    margin-top: 30px;
}

.galeria p {
    text-align: center;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
    /* text-shadow: #000000 1px 1px 0px; */
}

.produtos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 50px 30px 50px;
}
.produtos img {
    height: 250px;
    width: 250px;
    margin: 20px 20px 20px 20px;
}

.produtos p {
    text-align: center;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
    /* text-shadow: #000000 1px 1px 0px; */
}

/* INFORMAÇÕES DO FOOTER */
.rodape {
    display: flex;
    background-color: #000000;
    color: #ffffff;
    height: 55px;
    justify-content: space-between;
    align-items: center;
}

.rodape-logo {
    height: 50px;
}

.rodape-contato {}

.rodape-contato li {
    text-align: center;
}

.rodapre-localizacao {}

.rodape-localizacao li,
h2 {
    text-align: center
}

.rodape-duvidas {}

.rodape-duvidas li {
    text-align: center
}

.rodape-politica {
    text-align: center
}

.rodape-redes-icones {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
}

.face-icone,
.insta-icone,
.tiktok-icone {
    height: 30px;
}

/* Icones escondidos no desktop */
.hamburguer{
    display: none;
    width: 60px;
}
.menu-lateral{
    display: none;
}
/* ---------------------------- */


/* Tablets <992 e >768 */
@media screen and (max-width: 991px){
    /* Icones escondidos no tablet */
    .login {
        display: none;
    }
    #divBusca{
        margin-left: 0px;
    }
    .categorias{
        display: none;
    }
    /*------------------------*/
    /* Menu lateral */
    .hamburguer{
        display: block;
        padding-right: 20px;
    }
    header .menu-lateral{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        left: -80vw; /*inicia escondido*/
        opacity: 0;
        top: 0vw;
        position: fixed;
        height: 100%;
        width: 75vw;
        background-color: black;
        padding-left: 20px;
        transition: left 0.5s, opacity 0.6s; /*controla a transição do menu*/
        z-index: 2;
    }
    header .menu-lateral-mostrar{
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        opacity: 1;
        left: 0vw;
        top: 0vw;
        position: fixed;
        height: 100%;
        width: 75vw;
        background-color: black;
        padding-left: 20px;
    }
    
    .menu-lateral a{
        color: #ffffff;
        text-decoration: none;
        border-left: 2px dotted white;
        text-transform: uppercase;
        font-size: 25px;
        padding-left: 10px;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 1px 1px black;
    }
    .menu-lateral-mostrar a{
        color: #ffffff;
        text-decoration: none;
        border-left: 2px dotted white;
        text-transform: uppercase;
        font-size: 25px;
        padding-left: 10px;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 1px 1px black;
    }
    /* ------------------------------------------ */
}



/* Smartphones <767 */


/* Customização do bootstrap */
.carousel-inner{
    width: 100vw;
}
