/* Informaçoes do HEADER */
.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.cabecalho_logotipo{
    display: flex;
    align-items: center;
}

.cabecalho_logo{
    height: 110px;
}

.cabecalho_slogan{
    width: 10vw;
    text-align: center;

}

.cabecalho_pesquisa{
    display: flex;
}

.cabecalho_barra_de_pesquisa{
    width: 38vw;
    height: 30px;
    font-size: 16px;
    border-radius: 10px;
    position: relative;
}

.cabecalho_pesquisar{
    height: 34px;
    border-left: 2px solid #000000;
    position: absolute;
    right: 25vw;
}

.cabecalho_dados{
    display: flex;
    color: #ffffff;
}

.cabecalho_carrinho{
    height: 50px;
}


/* INFORMAÇÕES DO FOOTER */
.rodape{
    display: flex;
    background-color: #000000;
    color: #ffffff;
    height: 55px;
    justify-content: space-between;
    align-items: center;
}

.rodape-logo{
    height: 50px;

}

.rodapre-localizacao{

}

.rodape-redes-icones{
    display: flex;
    justify-content: space-between;
}

.face-icone, .insta-icone, .tiktok-icone{
    height: 20px;
}

